<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only
      (click)="openNewTodo()">
        <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      todo apps
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todos">
      <h2>{{todo.title}}</h2>
      <p>{{todo.description}}</p>
    </ion-item>
    <button ion-item
    (click)="openTodoPage(todo.id)"
    *ngFor="let todo of todos">
      <h2>{{todo.title}}</h2>
      <p>{{todo.description}}</p>
      <div item-end *ngIf="todo.complete">
        <ion-icon name="checkbox-outline"></ion-icon>
      </div>
    </button>
  </ion-list>
</ion-content>
