<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only
      (click)="openNewTodo()">
        <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      todo apps
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <!-- <ion-item *ngFor="let todo of todos">
        <h2>{{todo.title}}</h2>
        <p>{{todo.description}}</p>
      </ion-item> -->
      <button ion-item
      (click)="openTodoPage(todo.id)">
        <h2>{{todo.title}}</h2>
        <p>{{todo.description}}</p>
        <div item-end *ngIf="todo.complete">
          <ion-icon name="checkbox-outline"></ion-icon>
        </div>
      </button>
      <ion-item-options>
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
